body{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.large_font{
    font-size: xxx-large;
    text-align:center;
    font-weight:900;
}

.small_font{
    text-align:center;
    font-size: x-large;
    width:100%;
}

.container{
    width:900px;
    height:400px;
    display:flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.card{
    width:130px;
    height: 190px;
    display:flex;
    margin:10px;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20%;
    flex-wrap:wrap;
    transition:0.2s;
}

.card img{
    max-width:80%;
    height:auto;
}

.main:hover{
    transform: scale(1.2) rotate(30deg);
    transition: 0.4s
}